# Home Assistant
HA_CONFIG_DIR=/Users/<user>/homeassistant/config

# Mosquitto
MOSQUITTO_CONFIG_DIR=/Users/<user>/mosquitto/config
MOSQUITTO_DATA_DIR=/Users/<user>/mosquitto/data
MOSQUITTO_LOG_DIR=/Users/<user>/mosquitto/log

# GWM Haval H6 connector
GWM_USERNAME=<email-conta-gwm>
GWM_PASSWORD=<senha-gwm>
GWM_VIN=<chassi-veiculo>
GWM_PIN=<pin-gwm>
GWM_MQTT_HOST=mqtt://mosquitto:1883
GWM_MQTT_USER=
GWM_MQTT_PASS=
GWM_REFRESH_TIME=10
GWM_DEVICE_TRACKER_ENABLED=true
GWM_CERTS_DIR=/Users/<user>/hassio-haval-h6-to-mqtt/haval-h6-mqtt/certs
